body{
 background: #DCDCDC;

}
.cal{
	width: 500px;
	height: 570px;
	margin:auto;
	background: #d2d2d2;
    cursor:pointer;
}
.zn1{
	margin-top: 20px;
	width: 420px;
	height: 80px;
    font-size: 60px;
    margin-left: 40px
	
}
.dan{
	font-size: 20px;
	margin-left: 20px;
}
.cn4{
	width: 96px;
	height: 60px;
	margin-left: 20px;
    border: 0px;
    background: #F8F8FF;
    font-size: 20px;
cursor:pointer;
}
.cn4:hover{
	width: 96px;
	height: 60px;
	margin-left: 20px;
    background:#6495ED;
     border: 0px;

}
.cn{
	width: 96px;
	height: 60px;
	margin-left: 20px;
    border: 0px;
    background: #F8F8FF;
    font-size: 20px;
cursor:pointer;
}
.cn:hover{
	width: 96px;
	height: 60px;
	margin-left: 20px;
     background:#FF0000;
     border: 0px;

}
.cn1{
	width: 335px;
	height: 60px;
	margin-left: 20px;
    border: 0px;
    background: #F8F8FF;
    font-size: 20px;
cursor:pointer;
}
.cn1:hover{
	width: 335px;
	height: 60px;
	margin-left: 20px;
     background:#00FF00;
     border: 0px;

}
.cn0{
	width: 320px;
	height: 60px;
	margin-left: 20px;
    font-size: 20px;
    border: 0px;
    background: #F8F8FF;
cursor:pointer;
}
.cn0:hover{
	width: 320px;
	height: 60px;
	margin-left: 20px;
    font-size: 20px;
    background: #6495ED;
  

}
